# Karena berbasis CMS, modifikasi hanya dilakukan 
# di plugin sehigga folder lain tidak perlu tidak 
# di track oleh github

wp-config.php
*.log
wp-content/cache
wp-content/backups/
sitemap.xml.gz
wp-content/advanced-cache.php
wp-content/wp-cache-config.php