a:hover,
#sidebar #popular_posts li a:hover,
#sidebar ul li a:hover{
    color: #75bf2e;
}
#menu li.current_page_item a,#menu li.current-menu-item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover{
    background: #75bf2e;
}
#slider_wrapper,
#crumbs_wrapper,
#footer_bottom{
    background: #283f03 url('images/bg-strip-green.png') repeat-y center;
}
#footer_wrapper{
    background-color: #eaf6d3;
}
#footer_wrapper .footer_widget .footer_title{
    border-bottom: 1px solid #c5d99e;
}
.top-strip{
    background: url('images/top-strip-green.png') repeat-x;
}
.bottom-strip{
    background: url('images/bottom-strip-green.png') repeat-x;
}
.footer_strip{
    background: url('images/footer-strip-green.png') repeat-x;
}
#slider_wrapper .entry h1.entry_heading{
    color: #d6edc3;
}
#slider_wrapper .entry h4.entry_content{
    color: #adcd90;
}