a:hover,
#sidebar #popular_posts li a:hover,
#sidebar ul li a:hover{
    color: #d41f1b;
}
#menu li.current_page_item a,#menu li.current-menu-item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover{
    background: #d41f1b;
}
#slider_wrapper,
#crumbs_wrapper,
#footer_bottom{
    background: #470202 url('images/bg-strip-red.png') repeat-y center;
}
#footer_wrapper{
    background-color: #feebeb;
}
#footer_wrapper .footer_widget .footer_title{
    border-bottom: 1px solid #f8c7c7;
}
.top-strip{
    background: url('images/top-strip-red.png') repeat-x;
}
.bottom-strip{
    background: url('images/bottom-strip-red.png') repeat-x;
}
.footer_strip{
    background: url('images/footer-strip-red.png') repeat-x;
}
#slider_wrapper .entry h1.entry_heading{
    color: #f8dddd;
}
#slider_wrapper .entry h4.entry_content{
    color: #f8dddd;
}