a:hover,
#sidebar #popular_posts li a:hover,
#sidebar ul li a:hover{
    color: #0dc6ca;
}
#menu li.current_page_item a,#menu li.current-menu-item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover{
    background: #0dc6ca;
}
#slider_wrapper,
#crumbs_wrapper,
#footer_bottom{
    background: #045a5b url('images/bg-strip-teal.png') repeat-y center;
}
#footer_wrapper{
    background-color: #e5fbfb;
}
#footer_wrapper .footer_widget .footer_title{
    border-bottom: 1px solid #b4e1e1;
}
.top-strip{
    background: url('images/top-strip-teal.png') repeat-x;
}
.bottom-strip{
    background: url('images/bottom-strip-teal.png') repeat-x;
}
.footer_strip{
    background: url('images/footer-strip-teal.png') repeat-x;
}
#slider_wrapper .entry h1.entry_heading{
    color: #fcf6e2;
}
#slider_wrapper .entry h4.entry_content{
    color: #fcf6e2;
}